<p id="notice"><%= notice %></p>

<h1>Jobs</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Top message</th>
      <th>Message to applicants</th>
      <th>Num positions available</th>
      <th>University title</th>
      <th>Working title</th>
      <th>Department</th>
      <th>Department location</th>
      <th>Requisition number</th>
      <th>Summary of duties</th>
      <th>Add info for applicants</th>
      <th>Pre employment screening</th>
      <th>Required qualifications</th>
      <th>Desired qualifications</th>
      <th>Target salary</th>
      <th>Job category</th>
      <th>Job appointment</th>
      <th>Full time</th>
      <th>Temporary</th>
      <th>Posting start date</th>
      <th>Posting end date</th>
      <th>Dept contact name</th>
      <th>Dept contact phone</th>
      <th>Link</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @jobs.each do |job| %>
      <tr>
        <td><%= job.title %></td>
        <td><%= job.top_message %></td>
        <td><%= job.message_to_applicants %></td>
        <td><%= job.num_positions_available %></td>
        <td><%= job.university_title %></td>
        <td><%= job.working_title %></td>
        <td><%= job.department %></td>
        <td><%= job.department_location %></td>
        <td><%= job.requisition_number %></td>
        <td><%= job.summary_of_duties %></td>
        <td><%= job.add_info_for_applicants %></td>
        <td><%= job.pre_employment_screening %></td>
        <td><%= job.required_qualifications %></td>
        <td><%= job.desired_qualifications %></td>
        <td><%= job.target_salary %></td>
        <td><%= job.job_category %></td>
        <td><%= job.job_appointment %></td>
        <td><%= job.full_time %></td>
        <td><%= job.temporary %></td>
        <td><%= job.posting_start_date %></td>
        <td><%= job.posting_end_date %></td>
        <td><%= job.dept_contact_name %></td>
        <td><%= job.dept_contact_phone %></td>
        <td><%= job.link %></td>
        <td><%= link_to 'Show', job %></td>
        <td><%= link_to 'Edit', edit_job_path(job) %></td>
        <td><%= link_to 'Destroy', job, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Job', new_job_path %>
