<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @job.title %>
</p>

<p>
  <strong>Top message:</strong>
  <%= @job.top_message %>
</p>

<p>
  <strong>Message to applicants:</strong>
  <%= @job.message_to_applicants %>
</p>

<p>
  <strong>Num positions available:</strong>
  <%= @job.num_positions_available %>
</p>

<p>
  <strong>University title:</strong>
  <%= @job.university_title %>
</p>

<p>
  <strong>Working title:</strong>
  <%= @job.working_title %>
</p>

<p>
  <strong>Department:</strong>
  <%= @job.department %>
</p>

<p>
  <strong>Department location:</strong>
  <%= @job.department_location %>
</p>

<p>
  <strong>Requisition number:</strong>
  <%= @job.requisition_number %>
</p>

<p>
  <strong>Summary of duties:</strong>
  <%= @job.summary_of_duties %>
</p>

<p>
  <strong>Add info for applicants:</strong>
  <%= @job.add_info_for_applicants %>
</p>

<p>
  <strong>Pre employment screening:</strong>
  <%= @job.pre_employment_screening %>
</p>

<p>
  <strong>Required qualifications:</strong>
  <%= @job.required_qualifications %>
</p>

<p>
  <strong>Desired qualifications:</strong>
  <%= @job.desired_qualifications %>
</p>

<p>
  <strong>Target salary:</strong>
  <%= @job.target_salary %>
</p>

<p>
  <strong>Job category:</strong>
  <%= @job.job_category %>
</p>

<p>
  <strong>Job appointment:</strong>
  <%= @job.job_appointment %>
</p>

<p>
  <strong>Full time:</strong>
  <%= @job.full_time %>
</p>

<p>
  <strong>Temporary:</strong>
  <%= @job.temporary %>
</p>

<p>
  <strong>Posting start date:</strong>
  <%= @job.posting_start_date %>
</p>

<p>
  <strong>Posting end date:</strong>
  <%= @job.posting_end_date %>
</p>

<p>
  <strong>Dept contact name:</strong>
  <%= @job.dept_contact_name %>
</p>

<p>
  <strong>Dept contact phone:</strong>
  <%= @job.dept_contact_phone %>
</p>

<p>
  <strong>Link:</strong>
  <%= @job.link %>
</p>

<%= link_to 'Edit', edit_job_path(@job) %> |
<%= link_to 'Back', jobs_path %>
